<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Revenda de Carros</title>
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-landing.css">
    <link rel="stylesheet" href="styles/partials/menu.css">
    <link rel="stylesheet" href="styles/partials/header.css">

    

</head>
<body id="page-landing">
    <div id="container">
        <header id="page-header">
            <div class="top-bar-container">
                <div class="menu-section ">
                    <div class="menu-toggle">
                      <div class="one"></div>
                      <div class="two"></div>
                      <div class="three"></div>
                    </div>                   
                    <nav>
                      <ul>
                        <li>
                          <a href="/">Home</a>
                        </li>
                        <li>
                          <a href="/page-veiculos">Veiculos</a>
                        </li>
                        <li>
                          <a href="/page-empresa">Empresa</a>
                        </li>
                        <li>
                          <a href="/page-contato">Contato</a>
                        </li>
                        <li>
                          <a href="/page-logar">Logar</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
            </div>
            <div class="logo">
                <img src="image/logo.png" alt="Logo">
                <h1>Traga seu carro que fazemos negocio</h1>
            </div>
            <div class="buttons-container"> 
                <form id="search-option">
                    <div class="select-block">                  
                        <label for="tipo">PESQUISAR: </label>
                            <select name="tipo" id="tipo">
                              {%for tipo in tipos%}
                                <option value="{{loop.index0}}" {{"selected" if filters.tipo == loop.index0}}>{{tipo}}</option>
                              {%endfor %}
                            </select>
                    </div>
                    <div class="select-block">
                        <label for="marca"></label>
                            <select name="marca" id="marca" value="{{marca}}">

                              {% for marca in marcas %}
                                <option value="{{loop.index0}}"{{"selected" if filters.marca == loop.index0}}>{{marca}}</option>
                              {%endfor %}
                            </select>
                            
                    </div>
                    <div class="select-block">
                        <button href = "./result-pesquisa.html">Filtrar</button>
                    </div>
                </form>
            </div>
        </header>
        <main>
          <h1>DESTAQUES</h1>
          <div class="main-container">

            

            {%for veiculo in veiculos %}
            <article>
                <h1>{{veiculo.modelo}}</h1>
                <img src="{{veiculo.fotos}}"></img>
                <p>{{veiculo.marca}}</p>
                <p>Ano {{veiculo.ano}}</p>
                <p>Quilometragem {{veiculo.km}} km</p>
                <p>Potência do motor {{veiculo.versao}}</p>
                <p>Cor {{veiculo.cor}} </p>
                <h5>Opcionais</h5>
                <p>{{veiculo.alarme}}</p>
                <p>{{veiculo.som}}</p>
                <p>{{veiculo.airbag}}</p>
                <p>{{veiculo.arCondicionado}}</p>
                <p>{{veiculo.travaEletrica}}</p>
                <p>{{veiculo.vidroEletrica}}</p>
                <p>{{veiculo.direcaoHidraulica}}</p>

                <p>Valor R$ {{veiculo.preco}}</p>
                <p>{{veiculo.msg}}</p>
              </article>
            {%endfor%}
           
          </div>   
        </main>

        
        <!-- <footer id="footer-container">
asdasdasd

        </footer> -->
    </div>
    
</body>
<script src="scripts/menu.js"></script>

</html>