<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Revenda de Carros</title>
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-empresa.css">
    <link rel="stylesheet" href="styles/partials/menu.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    

</head>
<body id="page-empresa">
    <div id="container">
        <header id="page-header">
            <div class="top-bar-container">
                <div class="menu-section ">
                    <div class="menu-toggle">
                      <div class="one"></div>
                      <div class="two"></div>
                      <div class="three"></div>
                    </div>                   
                    <nav>
                      <ul>
                        <li>
                          <a href="/">Home</a>
                        </li>
                        <li>
                          <a href="/page-veiculos">Veiculos</a>
                        </li>
                        <li>
                          <a href="/page-empresa">Empresa</a>
                        </li>
                        <li>
                          <a href="/page-contato">Contato</a>
                        </li>
                        <li>
                          <a href="/page-logar">Logar</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
            </div>
            <div class="logo">
                <img src="image/logo.png" alt="Logo">
                <h1>Traga seu carro que fazemos negocio</h1>
            </div>
            <div class="buttons-container"> 
                <form id="search-option">
                  <div class="select-block">                  
                    <label for="tipo">PESQUISAR: </label>
                        <select name="tipo" id="tipo">
                          {%for tipo in tipos%}
                            <option value="{{loop.index0}}" {{"selected" if filters.tipo == loop.index0}}>{{tipo}}</option>
                          {%endfor %}
                        </select>
                </div>
                <div class="select-block">
                    <label for="marca"></label>
                        <select name="marca" id="marca" value="{{marca}}">

                          {% for marca in marcas %}
                            <option value="{{loop.index0}}"{{"selected" if filters.marca == loop.index0}}>{{marca}}</option>
                          {%endfor %}
                        </select>
                        
                </div>
                    <div class="select-block">
                        <button href = "./result-pesquisa.html">Filtrar</button>
                    </div>
                </form>
            </div>
        </header>
        <main class="main-container">
          <img src="image/car/fachada.jpg" alt="Fachada">
          <h1>SOBRE NOSSA EMPRESA</h1>
          <P>O importante é enviar todos os detalhes relevantes que poderão afetar o preço.
            Uma imagem diz mais do que mil palavras. Boas imagens geram confiança do comprador, assegurando lances mais altos para os carros da sua empresa. Recomenda-se que você tire várias fotos, do lado de dentro e de fora do carro, assim como closes de qualquer dano.
            Fornecer a descrição é simples. Você pode descrever rapidamente o carro usando o formulário de descrição do Autorola.com.br, projetado pensando na facilidade do uso, que permite o fornecimento de uma descrição detalhada e precisa do carro da sua empresa. Isso significa que os compradores obtêm uma descrição precisa quando estão dando lances.
            Preencha cada seção por vez e, ao concluir, terá uma descrição detalhada do carro da sua empresa. Durante o processo, você terá abrangido todas as informações que poderão afetar o preço.
            Se você tiver dúvidas sobre a precisão da descrição do seu veículo, então recomendamos que comece a usar a lista de verificação do Autorola.com.br. A lista de verificação ajuda você a analisar por completo o carro da sua empresa em alguns minutos.
            Se você quiser dedicar mais tempo ao seu negócio-chave, então deixe que o Autorola.com.br assuma toda a responsabilidade pela venda dos carros da sua empresa. Basta selecionar Total Service e, em seguida, um representante da empresa do Autorola.com.br irá até você e documentará a condição do seu veículo. Leia mais sobre o Total Service.</P>

        </main>

        
        <!-- <footer id="footer-container">
asdasdasd

        </footer> -->
    </div>
    
</body>
<script src="scripts/menu.js"></script>

</html>