<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Revenda de Carros</title>
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-veiculos.css">
    <link rel="stylesheet" href="styles/partials/menu.css">
    <link rel="stylesheet" href="styles/partials/header.css">

    

</head>
<body id="page-veiculos">
    <div id="container">
        <header id="page-header">
            <div class="top-bar-container">
                <div class="menu-section ">
                    <div class="menu-toggle">
                      <div class="one"></div>
                      <div class="two"></div>
                      <div class="three"></div>
                    </div>                   
                    <nav>
                        <ul>
                          <li>
                            <a href="/">Home</a>
                          </li>
                          <li>
                            <a href="/page-veiculos">Veiculos</a>
                          </li>
                          <li>
                            <a href="/page-empresa">Empresa</a>
                          </li>
                          <li>
                            <a href="/page-contato">Contato</a>
                          </li>
                          <li>
                            <a href="/page-logar">Logar</a>
                          </li>
                        </ul>
                      </nav>
                  </div>
            </div>
            <div class="logo">
                <img src="image/logo.png" alt="Logo">
                <h1>Traga seu carro que fazemos negocio</h1>
            </div>
            <div class="buttons-container"> 
                <form id="search-option">
                    <div class="select-block">                  
                        <label for="tipo">PESQUISAR: </label>
                            <select name="tipo" id="tipo">
                              {%for tipo in tipos%}
                                <option value="{{loop.index0}}" {{"selected" if filters.tipo == loop.index0}}>{{tipo}}</option>
                              {%endfor %}
                            </select>
                    </div>
                    <div class="select-block">
                        <label for="marca"></label>
                            <select name="marca" id="marca" value="{{marca}}">
    
                              {% for marca in marcas %}
                                <option value="{{loop.index0}}"{{"selected" if filters.marca == loop.index0}}>{{marca}}</option>
                              {%endfor %}
                            </select>
                            
                    </div>
                    <div class="select-block">
                        <button href = "index.html">Filtrar</button>
                    </div>
                </form>
            </div>
        </header>
        <main>
             
                <form action="" id="cadastrar">
                    <fieldset>
                    <legend>CADASTRO DE VEICULOS</legend>
                    <div class="select-block">
                        <label for="subject">DESTAQUE <small>Selecione para inserir na pagina principal.</small></label>
                        <input type="checkbox" name="destaque" id="destaque">
                    </div>
                    <div class="select-block">  
                        <label for="subject">Tipo</label>                
                            <select name="tipo" id="tipo" required>
                                <option value="">Selecione um Tipo</option>
                                {%for tipo in tipos%}
                                <option value="{{loop.index0}}" >{{tipo}}</option>
                                {%endfor %}
                            </select>
                    </div>
                    <div class="select-block">
                        <label for="subject">Marca</label>
                            <select name="marca" id="marca" required>
                                            <option value="">Selecione uma opcao.</option>
                                            {% for marca in marcas %}
                                            <option value="{{loop.index0}}">{{marca}}</option>
                                            {%endfor %}
                            
                            </select>                            
                    </div>
                    <div class="input-block">
                        <label for="subject">Modelo</label>
                        <input id="modelo" name="modelo" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="subject">Vesao</label>
                        <input name="versao" id="versao" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="subject">Ano Modelo/Fabricacao</label>
                        <input name="ano" id="ano" type="number" required>
                    </div>
                    <div class="input-block">
                        <label for="subject">Quilometragem</label>
                        <input name+"km" id="km" type="number" required>
                    </div>
                    <div class="input-block">
                        <label for="subject">Cor</label>
                        <input id="cor" type="text" required>
                    </div>
                          <legend>OPCIONAIS</legend>
                          <div class="field-opcionais">
                            
                                <div class="input-checkbox">                                    
                                    <input type="checkbox" id="alarme" name="alarme" value="alarme">
                                    <label for="subject">ALARME</label>
                                </div>
                            <div class="input-checkbox">                                    
                                    <input type="checkbox" id="som" name="som" value="som">
                                    <label for="subject">SOM</label>
                                </div>
                            <div class="input-checkbox">                                    
                                    <input type="checkbox" id="airbag" name="airbag" value="Airbag">
                                    <label for="subject">AIR BAG</label>
                                </div>
                            <div class="input-checkbox">                                    
                                    <input type="checkbox" id="arCondicionado" name="arCondicionado" value="Ar-Condicionado">
                                    <label for="subject">AR CONDICIONADO</label>
                                </div>
                            <div class="input-checkbox">                                    
                                    <input type="checkbox" id="travaEletrica" name="travaEletrica" value="Trava-Eletrica">
                                    <label for="subject">TRAVA ELETRICA</label>
                                </div>
                            <div class="input-checkbox">                                    
                                    <input type="checkbox" id="vidroEletrico" name="vidroEletrico" value="Vidro-Eletrico">
                                    <label for="subject">VIDRO ELETRICO</label>
                                </div>
                            <div class="input-checkbox">                              
                                <input type="checkbox" id="direcaoHidraulica" name="direcaoHidraulica" value="Direcao-Hidraulica">
                                <label for="subject">DIRECAO HIDRAULICA</label>
                            </div>
                          </div>
                        
                    <div class="input-block">
                        <label for="subject">Preco</label>
                        <input name="preco" id="preco" type="number">
                    </div>
                    <div class="input-block">
                        <input name="fotos" id="fotos" type="file"></input>
                        
                    </div>

                    <div class="textarea-block">
                        <label for="subject">Descrição</label>
                        <textarea name="msg" id="msg" required></textarea>
                    </div>



                    <div class="select-block">
                        <button href = "./result-pesquisa.html">Inserir</button>
                        <button href = "./result-pesquisa.html">Excluir</button>
                    </div>
                    </fieldset>
                </form>
            
        </main>
    </div>
    
</body>
<script src="scripts/menu.js"></script>

</html>